@model TaiKhoan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Thông tin tài khoản</h5>
            </div>
            <div class="ibox-content">
                <form method="get" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Họ</label>
                        <div class="col-sm-6"><span class="form-control">@Html.DisplayFor(m => Model.Ho)</span></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tên</label>
                        <div class="col-sm-6"><span class="form-control">@Html.DisplayFor(m => Model.Ten)</span></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-6"><span class="form-control">@Html.DisplayFor(m => Model.Email)</span></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Loại tài khoản</label>
                        <div class="col-sm-6"><span class="form-control">@Html.DisplayFor(m => Model.MaLoaiTaiKhoanNavigation.TenLoaiTaiKhoan)</span></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Trạng thái</label>
                        <div class="col-sm-6"><span class="form-control">@Html.DisplayFor(m => Model.TrangThai)</span></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-white" type="submit">Chỉnh sửa</button>
                            <button asp-action="Index" asp-controller="ManageAccounts" class="btn btn-primary" type="submit">Quay về</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>