@model Lazarus.Data.PagedList<TaiKhoan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="ibox-content m-b-sm border-bottom">
    <div class="row">
        <form asp-action="Index" method="get">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="text" name="searchEmail" value="" placeholder="Email" class="form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">Họ tên</label>
                    <input type="text" name="searchName" value="" placeholder="Họ tên" class="form-control">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label">Trạng thái</label>
                    <select name="status" id="status" class="form-control">
                        <option value="Verified" selected>Verified</option>
                        <option value="Unverified">Unverified</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-default" style="margin-top:24px;">Tìm kiếm</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table class="footable table table-stripped toggle-arrow-tiny">
                        <thead>
                            <tr>
                                <th><a asp-action="Index" asp-route-currentSort="@ViewData["EmailSort"]" asp-route-searchEmail="@ViewData["SearchEmail"]" asp-route-searchName="@ViewData["SearchName"]">Email</a></th>
                                <th><a asp-action="Index" asp-route-currentSort="@ViewData["EmailSort"]" asp-route-searchEmail="@ViewData["SearchEmail"]" asp-route-searchName="@ViewData["SearchName"]">Họ tên</a></th>
                                <th><a asp-action="Index" asp-route-currentSort="@ViewData["EmailSort"]" asp-route-searchEmail="@ViewData["SearchEmail"]" asp-route-searchName="@ViewData["SearchName"]">Loại tài khoản</a></th>
                                <th><a asp-action="Index" asp-route-currentSort="@ViewData["EmailSort"]" asp-route-searchEmail="@ViewData["SearchEmail"]" asp-route-searchName="@ViewData["SearchName"]">Trạng thái</a></th>
                                <th><a asp-action="Create" asp-controller="ManageAccounts" class="btn-white btn btn-xs">Tạo mới</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(m => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.HoTen)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.MaLoaiTaiKhoanNavigation.TenLoaiTaiKhoan)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => item.TrangThai)
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a asp-action="Details" asp-controller="ManageAccounts" asp-route-id="@item.TaiKhoanId" class="btn-white btn btn-xs">Chi tiết</a>
                                                <a asp-action="Edit" asp-controller="ManageAccounts" asp-route-id="@item.TaiKhoanId" class="btn-white btn btn-xs">Chỉnh sửa</a>
                                                <form method="post" class="btn-group"><button type="submit" asp-action="Delete" asp-controller="ManageAccounts" asp-route-id="@item.TaiKhoanId" asp-route-page="@Model.PageIndex" class="btn-white btn btn-xs" onclick="return confirm('Có chắc là muốn xóa?')">Xóa</button></form>                                                
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @{
                    var nextPage = Model.HasNextPage ? "" : "disable";
                    var previousPage = Model.HasPreviousPage ? "" : "disable";
                }
                <a asp-action="Index" asp-route-currentSort="@ViewData["EmailSort"]" asp-route-searchEmail="@ViewData["SearchEmail"]" asp-route-searchName="@ViewData["SearchName"]" asp-route-page="@Model.PageIndex - 1" class="btn btn-default @previousPage">Trước</a>
                <a asp-action="Index" asp-route-currentSort="@ViewData["EmailSort"]" asp-route-searchEmail="@ViewData["SearchEmail"]" asp-route-searchName="@ViewData["SearchName"]" asp-route-page="@Model.PageIndex + 1" class="btn btn-default @nextPage">Sau</a>
            </div>
        </div>
    </div>
</div>