@model TaiKhoan

@{
    ViewData["Title"] = "AccountDetails";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

@{ 
    if (string.IsNullOrEmpty(Model.HinhAnh))
    {
        ViewData["img"] = "/Shop/images/default-user.png";
    }
    else
    {
        ViewData["img"] = "/AccountImages/" + Model.HinhAnh;
    }
}

<form method="get">
    <section class="main-container col1-layout">
        <div class="main container">
            <div class="page-content">
                <div class="account-login">
                    <div class="box-authentication">
                        <h4>Thông tin tài khoản</h4>
                        <div class="panel-group">
                            <label>Họ<span class="required"></span></label>
                            <label class="form-control">@Html.DisplayFor(m=>m.Ho)</label>
                        </div>
                        <div class="panel-group">
                            <label>Tên</label>
                            <label class="form-control">@Html.DisplayFor(m => m.Ten)</label>
                        </div>
                        <div class="panel-group">
                            <label>Email</label>
                            <label class="form-control">@Html.DisplayFor(m => m.Email)</label>
                        </div>
                        <button asp-action="AccountEdit" asp-controller="Home" asp-route-id="@Model.TaiKhoanId" class="button"><i class="fa fa-circle"></i>&nbsp; <span>Thay đổi</span></button>
                    </div>
                    <div class="box-authentication">
                        <div style="width:250px; height:250px; margin:auto">
                            <img src="@ViewData["img"]" style="max-height:100%; max-width:100%;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>