@model Lazarus.Data.PagedList<SanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="ibox-content m-b-sm border-bottom">
    <div class="row">
        <form asp-action="Index" method="get">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">Tên sản phẩm</label>
                    <input type="text" name="searchString" value="" placeholder="Tên sản phẩm" class="form-control">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label">Loại sản phẩm</label>
                    <select asp-items="@ViewBag.LoaiSanPham" name="filterByType" class="form-control"></select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label">Cửa hàng</label>
                    <select asp-items="@ViewBag.CuaHang" name="filterByShop" class="form-control"></select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label">Trạng thái</label>
                    <select name="filterByShopStatus" class="form-control">
                        <option value="" selected>--- Hãy chọn ---</option>
                        <option value="Hoạt động">Hoạt động</option>
                        <option value="Đã xóa">Đã xóa</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2 pull-right">
                <div class="form-group">
                    <button type="submit" class="btn btn-default" style="margin-top:24px;">Tìm kiếm</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table class="footable table table-stripped toggle-arrow-tiny">
                        <thead>
                            <tr>
                                <th><a asp-action="Index" asp-route-currentSort="@ViewBag.SortByName" asp-route-searchString="@ViewBag.SearchString">Tên sản phẩm</a></th>
                                <td><a asp-action="Index" asp-route-currentSort="@ViewBag.SortByType" asp-route-searchString="@ViewBag.SearchString">Loại sản phẩm</a></td>
                                <th><a asp-action="Index" asp-route-currentSort="@ViewBag.SortByShop" asp-route-searchString="@ViewBag.SearchString">Cửa hàng</a></th>
                                <th><a asp-action="Index" asp-route-currentSort="@ViewBag.SortByStatus" asp-route-searchString="@ViewBag.SearchString">Trạng thái</a></th>
                                <th><a class="btn-white btn btn-xs" asp-action="Create" asp-controller="AccountType">Tạo mới</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(i => item.TenSanPham)</td>
                                        <td>@Html.DisplayFor(i => item.MaLoaiSanPhamNavigation.TenLoaiSanPham)</td>
                                        <td>@Html.DisplayFor(i => item.SanPhamCuaHang.SingleOrDefault(a => a.MaSanPham == item.SanPhamId).MaCuaHangNavigation.TenCuaHang)</td>
                                        <td>@Html.DisplayFor(i => item.TrangThai)</td>
                                        <td>
                                            <div class="btn-group">
                                                <a asp-action="Details" asp-controller="AccountType" asp-route-id="@item.SanPhamId" class="btn-white btn btn-xs">Chi tiết</a>
                                                <a asp-action="Edit" asp-controller="AccountType" asp-route-id="@item.SanPhamId" class="btn-white btn btn-xs">Chỉnh sửa</a>
                                                <form method="post" class="btn-group">
                                                    <button type="submit" asp-action="Delete" asp-controller="AccountType" asp-route-id="@item.SanPhamId" class="btn-white btn btn-xs" onclick="return confirm('Có chắc xóa?')">Xóa</button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @{
                        var nextPage = Model.HasNextPage ? "" : "disabled";
                        var previousPage = Model.HasPreviousPage ? "" : "disabled";
                    }
                    <a class="btn btn-default @previousPage" asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" asp-route-currentSort="@ViewBag.CurrentSort" asp-route-searchString="@ViewBag.SearchString">Trước</a>
                    <a class="btn btn-default @nextPage" asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" asp-route-currentSort="@ViewBag.CurrentSort" asp-route-searchString="@ViewBag.SearchString">Sau</a>
                </div>
            </div>
        </div>
    </div>
</div>