@model Lazarus.Data.PagedList<HoaDon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="ibox-content m-b-sm border-bottom">
    <div class="row">
        <form asp-action="Index" method="get">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">Mã hóa đơn</label>
                    <input type="text" name="searchString" value="" placeholder="Mã hóa đơn" class="form-control">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label">Trạng thái</label>
                    <select name="status" class="form-control">
                        <option value="" selected>--- Hãy chọn ---</option>
                        <option value="Đang chờ">Đang chờ</option>
                        <option value="Sẵn sàng giao">Sẵn sàng giao</option>
                        <option value="Đã giao">Đã giao</option>
                        <option value="Đã xóa">Đã xóa</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2 pull-right">
                <div class="form-group">
                    <button type="submit" class="btn btn-default" style="margin-top:24px;">Tìm kiếm</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table class="footable table table-stripped toggle-arrow-tiny">
                        <thead>
                            <tr>
                                <th><a asp-action="Index" asp-route-currentSort="@ViewBag.SortById" asp-route-searchString="@ViewBag.SearchString" asp-route-status="@ViewBag.Status">Mã hóa đơn</a></th>
                                <th><a asp-action="Index" asp-route-currentSort="@ViewBag.SortByDate" asp-route-searchString="@ViewBag.SearchString" asp-route-status="@ViewBag.Status">Ngày lập</a></th>
                                <th><a asp-action="Index" asp-route-currentSort="@ViewBag.SortByStatus" asp-route-searchString="@ViewBag.SearchString" asp-route-status="@ViewBag.Status">Trạng thái</a></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(i => item.HoaDonId)</td>
                                        <td>@Html.DisplayFor(i => item.NgayLap)</td>
                                        <td>@Html.DisplayFor(i => item.TrangThai)</td>
                                        <td>
                                            @{
                                                if (item.TrangThai != "Đã xóa" || item.TrangThai != "Đang chờ giao")
                                                {
                                                    <div class="btn-group">
                                                        <a asp-action="Confirm" asp-controller="OrderManage" asp-route-id="@item.HoaDonId" class="btn-white btn btn-xs">Xác nhận</a>
                                                    </div>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @{
                        var nextPage = Model.HasNextPage ? "" : "disabled";
                        var previousPage = Model.HasPreviousPage ? "" : "disabled";
                    }
                    <a class="btn btn-default @previousPage" asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" asp-route-currentSort="@ViewBag.CurrentSort" asp-route-searchString="@ViewBag.SearchString" asp-route-status="@ViewBag.Status">Trước</a>
                    <a class="btn btn-default @nextPage" asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" asp-route-currentSort="@ViewBag.CurrentSort" asp-route-searchString="@ViewBag.SearchString" asp-route-status="@ViewBag.Status">Sau</a>
                </div>
            </div>
        </div>
    </div>
</div>