@model Lazarus.Data.PagedList<ThongTinGiaoHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="ibox-content m-b-sm border-bottom">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table class="footable table table-stripped toggle-arrow-tiny">
                        <thead>
                            <tr>
                                <th>Mã hóa đơn</th>
                                <th>Địa chỉ</th>
                                <th>Tổng tiền</th>
                                <th>Trạng thái</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(i => item.MaHoaDon)</td>
                                        <td>@Html.DisplayFor(i => item.DiaChi)</td>
                                        <td>@Html.DisplayFor(i => item.TongTien)</td>
                                        <td>@Html.DisplayFor(i => item.TrangThai)</td>
                                        <td>
                                            <div class="btn-group">
                                                <form method="post" class="btn-group">
                                                    <button type="submit" asp-action="Confirm" asp-route-id="@item.ThongTinId" class="btn-white btn btn-xs" onclick="return confirm('Có chắc xóa?')">Đã giao</button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @{
                        var nextPage = Model.HasNextPage ? "" : "disabled";
                        var previousPage = Model.HasPreviousPage ? "" : "disabled";
                    }
                    <a class="btn btn-default @previousPage" asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" asp-route-currentSort="@ViewBag.CurrentSort" asp-route-searchString="@ViewBag.SearchString">Trước</a>
                    <a class="btn btn-default @nextPage" asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" asp-route-currentSort="@ViewBag.CurrentSort" asp-route-searchString="@ViewBag.SearchString">Sau</a>
                </div>
            </div>
        </div>
    </div>
</div>