@model Lazarus.Data.PagedList<SanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@if (ViewBag.Mes != null)
{
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Quản lý cửa hàng</h5>
                </div>
                <div class="ibox-content">
                    <div class="text-center">
                        <a class="btn btn-primary" asp-action="ShopCreate">@ViewBag.Mes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    var previousPage = Model.HasPreviousPage ? "" : "disabled";
    var nextPage = Model.HasNextPage ? "" : "disabled";

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="form-inline">
                    <form method="get">
                        <a asp-action="ProductCreate" class="btn btn-success">Thêm sản phẩm</a>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="sr-only">Tên sản phẩm</label>
                                <input name="searchString" type="text" placeholder="Tên sản phẩm" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">Loại sản phẩm</label>
                                <select name="filterByType" class="form-control" asp-items="@ViewBag.LoaiSanPhamList">
                                    <option value="" selected>--- Tất cả ---</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button asp-action="Index" asp-route-searchString="@ViewBag.SearchString" type="submit" class="btn btn-white">Tìm kiếm</button>
                        </div>


                        <div class="pull-right">
                            <a class="btn btn-white" asp-action="ShopEdit" asp-route-id="@ViewBag.ShopId">Chỉnh sửa cửa hàng</a>
                            @if (ViewBag.ShopStatus == "Deactive")
                            {
                                <a asp-action="ShopStatusChange" asp-route-id="@ViewBag.ShopId" class="btn btn-primary">Mở cửa hàng</a>
                            }
                            else
                            {
                                <a asp-action="ShopStatusChange" asp-route-id="@ViewBag.ShopId" class="btn btn-danger">Đóng cửa hàng</a>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox product-detail">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="product-images">
                                    <div style="height:400px; width:400px;">
                                        <div>
                                            <img src="~/ProductImages/@item.HinhAnh" style="max-height:100%; max-width:100%;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">

                                <h2 class="font-bold m-b-xs">
                                    @item.TenSanPham
                                </h2>
                                <div class="m-t-md">
                                    <h2 class="product-main-price"><b class="text-danger">@item.GiaBan.ToString("#,##0")</b> VNĐ</h2>
                                </div>
                                <hr>

                                <textarea class="no-borders" rows="10" style="resize:none; width:100%" readonly="readonly" onclick="this.blur();">@item.MoTa</textarea>

                                <div class="small text-muted">

                                </div>
                                <dl class="small m-t-md">
                                    <dt>Loại sản phẩm</dt>
                                    <dd>@item.MaLoaiSanPhamNavigation.TenLoaiSanPham</dd>
                                    <dt>Số lượng</dt>
                                    <dd>@item.SoLuong</dd>
                                    <dt>Trạng thái</dt>
                                    <dd>@item.TrangThai</dd>
                                </dl>
                                <hr>

                                <div>
                                    <div class="btn-group">
                                        <form method="post">
                                            <a asp-action="EditProduct" asp-route-id="@item.SanPhamId" class="btn btn-primary btn-sm">Chỉnh sửa</a>
                                            <button asp-action="DeleteProduct" asp-route-id="@item.SanPhamId" class="btn btn-white btn-sm" type="submit">Xóa</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="ibox-footer">
                        <span class="pull-right">
                            Sản phẩm đăng ngày - <i class="fa fa-clock-o"></i> @item.NgayThem
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-lg-12">
            <a asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" asp-route-searchString="@ViewBag.SearchString" class="btn btn-white @previousPage">Trước</a>
            <a asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" asp-route-searchString="@ViewBag.SearchString" class="btn btn-white @nextPage">Sau</a>
        </div>
    </div>
}